astroid
attrs
autopep8
decorator
dill
docstring-to-markdown
flake8
isort
jedi
jsonpath-rw
jsonpath-rw-ext
jsonschema
jsonschema-specifications
lazy-object-proxy
mccabe
parso
pbr
platformdirs
pluggy
ply
pycodestyle
pydocstyle
pyflakes
pylint
python-lsp-jsonrpc
python-lsp-server
referencing
rpds-py
six
snowballstemmer
tomlkit
ujson
wrapt
